ul{
    list-style-type: none;
    padding:0px;
}
body{
    background-image: url("background.jpg");
    text-shadow:
   -1px -1px 0 #fff,
    1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
    text-align: justify;
    font-family: Autour One;
}